<template name='main'>
<link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      scrollingSpeed: 1000
    });
  });
</script>
<div class="mainContainer">
  <div id="fullpage">
    <div class="section" id="firstPage">
      <h1>
      <a href="">
        <span class="logoCircleEmpty">John<br>Wong<br>Tech</span>
      </a>
      </h1>
    </div>
    <!---->
    <div class="section">
      <h1>
      <a href="">
        <span class="logoCircle">John Wong<br><div class="smallCircle">TECH</div></span>
      </a>
      </h1>
      <div class="google-indieflower">Logo 1</div>
    </div>
    <!---->
    <div class="section">
      <h1>
      <a href="">
        <span class="logoLeft">John</span><span class="logoRight">Wong</span>
      </a>
      </h1>
      <div class="google-indieflower">Logo 2</div>
    <!--<div class="small">TECH</div>-->
    </div>
    <div class="section" id="vectorPage">
      <h1>
      <a href="">
        <span class="logoText google-vollkorn">
        <div class="normalClassic">JOHN WONG</div>
        <div class="lineClassic">------------------------------</div>
        <div class="smallClassic">TECH</div>
        </span>
      </a>
      </h1>
      <div class="google-indieflower">Logo 3</div>
    </div>
<div class="section">
  <div class="google-indieflower">Create <b>Simple, Beautiful, and Neat</b> Things</div>
</div>
<div class="section">
  <div class="google-indieflower blue">Design | DevOps | Apps</div>
</div>
<div class="section">
  <img src="johnwong.png"/>
  <div class="google-indieflower"><br/>Avatar kindly from <a href="http://www.faceyourmanga.com/">faceyourmanaga</a></div>
</div>
</div>
</div>
</template>
